
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Cairo&family=Tajawal&display=swap');

body {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  direction: rtl;
  background-color: #f9f9f9;
  padding: 20px;
}

h1 {
  color: #006699;
  font-family: 'Amiri', serif;
}

label, select, input, button, a {
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
}
