@font-face {
  font-family: 'Amiri';
  src: url('fonts/Amiri-Regular.woff2') format('woff2'),
       url('fonts/Amiri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
font-family: 'Amiri', sans-serif;
  text-align: center;
  direction: rtl;
  background-color: #f9f9f9;
  padding: 20px;
}
h1 {
  color: #006699;
}
a.button {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  background-color: #00bcd4;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
}
img.thumb {
  width: 300px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
